  body{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    padding: 30px;
    color: #f9f9f9;
    background-color: #c6c6c6;
    background-image: url("https://images.photowall.com/products/48217/space-odyssey.jpg?h=699&q=85");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }


.app {
  max-width: 600px;
  margin: 0 auto 130px;
  background-color: #646cff;
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #fff;
}
h2 {
  margin-bottom: 10px;
  color: #fff;
}

p {
  margin: 10px 0;
  max-width: 42ch;
}

input {
  box-sizing: border-box;
}

button {
    color: #faf8f9;
    font-weight: bold;
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
}

button:hover {
  opacity: 1;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f9f9f9;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161616;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.complete {
  background-color: #5cb85c;
}

.adicionar{
  background-color: #f9f9f9;
  color: #262626;
}
.remove {
  background-color: #d9534f;
}

.todo-form {
  padding-bottom: 1.5rem;
}


input, select {
  padding: 5px;
  background-color: #f4f4f4;
  color: #000;
  margin-bottom: 10px;
  border: 1px solid #242424;
  border-radius: 5px;
  width:100%;
  font-weight: bold;
}

.filter,
.search {
  border-bottom: 1px solid #F9F9F9;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-options div {
  flex: 1 1 0;
}

.ordem {
  background-color: rgba(0, 0, 0, 0.8);
}
